@import "../../Styles/Variables.scss";

.keypad {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $c-bg-keypad;

  height: 350px;
  @include paddingRadius;
}
