/* Colors from base/theme-colors.scss */
/* Backgrounds */
$c-bg-main: var(--c-bg-main);
$c-bg-keypad: var(--c-bg-keypad);
$c-bg-toggle: var(--c-bg-toggle);
$c-bg-screen: var(--c-bg-screen);
/* Keys */
$c-keys-func: var(--c-keys-func);
$c-keys-func-shadow: var(--c-keys-func-shadow);
$c-keys-func-hover: var(--c-keys-func-hover);

$c-keys-equal: var(--c-keys-equal);
$c-keys-equal-shadow: var(--c-keys-equal-shadow);
$c-keys-equal-hover: var(--c-keys-equal-hover);

$c-toggle: var(--c-toggle);
$c-keys: var(--c-keys);
$c-keys-shadow: var(--c-keys-shadow);
$c-keys-hover: var(--c-keys-hover);

/* Text */
$c-text-primary: var(--c-text-primary);
$c-text-secondary: var(--c-text-secondary);
$c-text-tertiary: var(--c-text-tertiary);
$c-text-header: var(--c-text-header);
$c-text-display: var(--c-text-display);
$c-text-display2: var(--c-text-display2);

/* Fonts */
$ff-primary: "League Spartan", sans-serif;
$fw-bold: 700;
$fw-regular: 400;

/*FONT SIZE*/

$fs-key: 24px;
$fs-key2: 20px;
$fs-key3: 18px;

$fs-screen: 32px;
$fs-screen2: 28px;

$fs-screen-info: 18px;
$fs-screen-info2: 14px;

/*MIXIN*/
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin paddingRadius {
  padding: 25px;
  border-radius: 10px;
}
