//THEME NO. 1

// ### Backgrounds

//main background
$theme1Bckgrnd1: hsl(222, 26%, 31%);
//toggle background, keypad background)
$theme1Bckgrnd2: hsl(223, 31%, 20%);
// (screen background)
$theme1Bckgrnd3: hsl(224, 36%, 15%);

// #### Keys

//blue key
$theme1KeyBckgrndBlue: hsl(225, 21%, 49%);
$theme1keyShadowBlue: hsl(224, 28%, 35%);

//red key
$theme1KeyBckgrndToggleRed: hsl(6, 63%, 50%);
$theme1KeyShadowRed: hsl(6, 70%, 34%);

//wheat key
$theme1KeyBackgroundWheat: hsl(30, 25%, 89%);
$theme1KeyShadowWheat: hsl(28, 16%, 65%);

// #### Text

$theme1BlueText: hsl(221, 14%, 31%);
$theme1WhiteText: hsl(0, 0%, 100%);

//THEME NO. 2

// ### Backgrounds

//main background
$theme2MainBckgrnd: hsl(0, 0%, 90%);
//toggle background, keypad background)
$theme2ToggleKeypadBckgrnd: hsl(0, 5%, 81%);
// (screen background)
$theme2ScreenBckgrnd: hsl(0, 0%, 93%);

// #### Keys

$theme2KeyBckgrndCyan: hsl(185, 42%, 37%);
$theme2KeyShadowCyan: hsl(185, 58%, 25%);

$theme2KeyBckgrndToggleOrng: hsl(25, 98%, 40%);
$theme2KeyShadowOrng: hsl(25, 99%, 27%);

$theme2KeyBackgroundWheat: hsl(45, 7%, 89%);
$theme2KeyShadowWheat: hsl(35, 11%, 61%);

// #### Text

$theme2BlueText: hsl(60, 10%, 19%);
$theme2WhiteText: hsl(0, 0%, 100%);

//THEME NO. 3

// ### Backgrounds

//main background
$theme3Bckgrnd1: hsl(268, 75%, 9%);
//(toggle background, keypad background, screen background):
$theme3Bckgrnd2: hsl(268, 71%, 12%);

// #### Keys

$theme3KeyBckgrndViolet: hsl(281, 89%, 26%);
$theme3KeyShdowViolet: hsl(285, 91%, 52%);

$theme3KeyBckgrndToggleCyan: hsl(176, 100%, 44%);
$theme3KeyShdowCyan: hsl(177, 92%, 70%);

$theme3KeyBckgrndViolet: hsl(268, 47%, 21%);
$theme3KeyShdowMagenta: hsl(290, 70%, 36%);

// #### Text

$theme3YellowText: hsl(52, 100%, 62%);
$theme3BlueText: hsl(198, 20%, 13%);
$theme3WhiteText: hsl(0, 0%, 100%);

//FONT

$fontBtnSize: 24px;
$fontResultSize: 32px;

$fontPrimary: "League Spartan", sans-serif;
$fontWeight: 700;

//MIXIN
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
