@import "../../Styles/Variables.scss";

.calctop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &__title {
    color: $theme1WhiteText;
    font-size: 18px;
  }
}
#theme2 .calctop {
  &__title {
    color: $theme2BlueText;
  }
}

#theme3 .calctop {
  &__title {
    color: $theme3YellowText;
  }
}
