@import "Styles/base/reset.scss";
@import "Styles/base/theme-colors.scss";
@import "Styles/Variables.scss";
@import "Styles/Animations.scss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

body {
  font-family: $ff-primary;
  font-size: $fs-key;
  font-weight: $ff-weight;
  background-color: $c-bg-main;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
