@import "../../Styles/Variables.scss";

.key {
  $self: &;
  @include flexCenter;
  text-align: center;
  color: $c-text-primary;
  background-color: $c-keys;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px $c-keys-shadow;
  cursor: pointer;
  transition: transform 0ms ease-in-out;
  &:hover {
    background-color: $c-keys-hover;
  }
  &:active {
    transform: translateY(3px);
    animation: keyDrop 0ms ease-in forwards;
  }

  &--delReset {
    @extend .key;
    font-size: $fs-key2; //
    color: $c-text-secondary;
    background-color: $c-keys-func;
    box-shadow: 0px 3px 0px 0px $c-keys-func-shadow;
    @media (width <=768px) {
      font-size: $fs-key3; //
    }
    &:hover {
      background-color: $c-keys-func-hover;
    }
  }

  &--equal {
    @extend .key;
    font-size: 20px;
    background-color: $c-keys-equal;
    color: $c-text-tertiary;
    box-shadow: 0px 3px 0px 0px $c-keys-equal-shadow;
    @media (width <=768px) {
      font-size: $fs-key3; //
    }
    &:hover {
      background-color: $c-keys-equal-hover;
    }
  }

  &--spanOne {
    grid-area: 5/1/5 / span 2;
  }
  &--spanTwo {
    grid-area: 5/3/5 / span 2;
  }
}
